{% include 'head.html'%}
{% include 'navbar.html'%}
<h3 class="text-center mb-3">Lectura de Archivos CSV</h3>
<body xmlns="http://www.w3.org/1999/html">
<div class="container" style="margin-top: 10px;padding: 5px">
    <div class="col">
        <div class="container pt-5 col-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center" style="color: darkred">Files
                        <svg xmlns="http://www.w3.org/2000/svg" width="46" height="36" fill="currentColor"
                             class="bi bi-file-earmark-font-fill" viewBox="0 0 16 16">
                            <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM5.057 6h5.886L11 8h-.5c-.18-1.096-.356-1.192-1.694-1.235l-.298-.01v5.09c0 .47.1.582.903.655v.5H6.59v-.5c.799-.073.898-.184.898-.654V6.755l-.293.01C5.856 6.808 5.68 6.905 5.5 8H5l.057-2z"/>
                        </svg>
                    </h2>
                    <form action="{% url 'input_files' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-2">
                            <label for="formFile" class="form-label"></label>
                            <input class="form-control mb-4" type="file" id="formFile" name="upload"/>
                        </div>
                        <div class="mt-lg-2 ">
                            <h3 class="text-center"> <button type="submit" class="btn btn" style="color: darkred">Upload File</button></h3>
                            {# #}
                            </a>
                        </div>
                    </form>
                    {% if msg %}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        {{ msg }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">close
                        </button>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="container" style="margin-top: 10px;padding: 5px">
            <table id="tablax" class="table table-striped table-bordered" style="width:100%">
                <thead>
                <th>date</th>
                <th>Descriptions</th>
                <th>Deposits</th>
                <th>Withdrawls</th>
                <th>Balance</th>
                </thead>
                <tbody>
                {% for file in datas %}
                <tr>
                    <td>{{ file.Date }}</td>
                    <td>{{ file.Description }}</td>
                    <td>{{ file.Deposits }}</td>
                    <td>{{ file.Withdrawls }}</td>
                    <td>{{ file.Balance }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {% include 'scriptjs.html' %}
        <div class="row">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">

            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <table class="table">
                    <thead>
                    <tr>
                        <th>numero de filas</th>
                    </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">

                    <tr>
                        <td>{{ num }}</td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div class="col">
                <table class="table">
                    <thead>
                    <tr>
                        <th>descripciones</th>
                        <th>cantidad</th>
                    </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">


                    {% for desc in dict %}
                    <tr>
                        <td>{{ desc.name }}</td>
                        <td>{{ desc.value }}</td>
                    </tr>

                    {% endfor %}


                    </tbody>
                </table>
            </div>
            <div class="col">
                <table class="table">
                    <thead>
                    <tr>
                        <th>año</th>
                        <th>cantidad</th>
                    </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">


                    {% for anio in year %}
                    <tr>
                        <td>{{ anio.date }}</td>
                        <td>{{ anio.value2 }}</td>
                    </tr>

                    {% endfor %}


                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>
</html>
