{% include 'head.html'%}
{% include 'navbar.html'%}
<h3 class="text-center mb-3">Archivos Guardados </h3>
<body xmlns="http://www.w3.org/1999/html">


        <div class="container" style="margin-top: 10px;padding: 5px">
            <table id="tablax" class="table table-striped table-bordered" style="width:100%">
                <thead>
                <th>Name</th>
                <th>Descriptions</th>

                </thead>
                <tbody>
                {% for registro in registros %}
                <tr>
                    <td>{{ registro.name }}</td>
                    <td>{{ registro.uploadedFile }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {% include 'scriptjs.html' %}

            </div>
        </div>
    </div>

</body>
</html>