{% load static %}
<nav class="navbar navbar-expand-lg  navbar navbar-dark bg-dark ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Lector de Archivo</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'input_files'%}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'load_xlsx' %}">Archivos Xlsx</a>
            </li>

        </ul>
    </div>
</nav></br></br>
<h1 class="text-center" style="margin-top: auto">HACKATON CAR IV </h1>
<div class="">
    <div id="carouselExampleSlidesOnly" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">


                <div class="card-group  ">

                    <div class="col">
                        <img src="{% static 'img/primer.jpg'%}" class="d-block w-100" height="300">
                    </div>
                    <div class="col">
                        <img src="{% static 'img/segunda.jpg'%}" class="d-block w-100" height="300">
                    </div>
                    <div class="col">
                        <img src="{% static 'img/tercer.jpeg'%}" class="d-block w-100" height="300">

                    </div>
                </div>


            </div>


            <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
</div>
</br></br></br>

